<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../partials/header'); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll">
        <%- include('../partials/page-title', {title: 'マイページ' }); %>
          <div class="p-1">
            <h2>あなたの情報</h2>
            <dl>
              <dt>ID</dt>
              <dd><%= user.id %></dd>
            </dl>
            <dl>
              <dt>ユーザ名</dt>
              <dd><%= user.userName %></dd>
            </dl>
            <dl>
              <dt>自己紹介</dt>
              <dd><%= user.selfIntroduction %></dd>
            </dl>
            <dl>
              <dt>SNS（X）</dt>
              <dd><a href="<%= user.twitterProfileLink %>" target="_blank">X</a></dd>
            </dl>
            <dl>
              <dt>SNS（インスタグラム）</dt>
              <dd><a href="<%= user.instagramProfileLink %>" target="_blank">インスタグラム</a></dd>
            </dl>
            <form action="/logout" method="post" onsubmit="return confirm('ログアウトしてよろしいですか？');">
              <input class="mt-3 btn text-white w-full bg-accent" style="background-color:#ff0099;" type="submit"
                value="ログアウト" />
            </form>
          </div>
      </div>
      <%- include('../partials/footer', {currentMenu: 5}); %>
        <!-- Toast -->
        <div class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 11">
          <div id="liveToast" class="toast hide" data-bs-delay="2000" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="toast-header">
              <img src="/images/tsl-symbol/kkrn_icon_kirakira_2.svg" width="30px" class="rounded me-2" alt="tsl-light">
              <strong class="me-auto">ログインに成功しました</strong>
            </div>
            <!-- <div class="toast-body">
                    Hello, world! This is a toast message.
                  </div> -->
          </div>
        </div>
        <script>
          window.onload = (() => {
            let toast = false;
            <% if (/* if toast is defined and true */ locals.toast === true) { %>
              toast = true;
            <% } %>
            if (toast) {
              const toastLiveExample = document.getElementById('liveToast')
              const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
              toastBootstrap.show();
            }
          });
        </script>
  </div>
</body>

</html>