<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../partials/header'); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll max-w-screen">
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item bg-accent">
            <a class="nav-link bg-accent text-white" aria-current="page" href="#">
              新着順
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="text-accent">あなたの投稿</span>
            </a>
          </li>
        </ul>
        <% for (var post of targetPosts) { %>
          <div onclick="location.href='./post/<%= post.id %>'" class="w-full p-1 flex items-center border-b">
            <div width="60%" >
              <img width="100%" src="<%= post.imageUrl %>" style="border: 1px solid; " />
            </div>
            <div class="p-1" style="width:40%;">
              <div class="flex items-center">
                <img class="ml-1" width="30px" height="30px" src="<%= post.user.iconUrl %>"
                  style="border: 2px solid #ff0099; border-radius:50%;" />
                <span class="font-bold pl-2" style="font-family:Kaisai Decol; color:#ff0099;">
                  <%= post.user.userName %>
                </span>
              </div>
              <p class="truncate"><%= post.description %></p>
              <p><%= post.postCategory.getEmoji() %>&nbsp;<%= post.postCategory.getLabel() %></p>
              <span class="text-sm">
                <%= post.insertDate.toLocaleString("ja-JP") %>
              </span>
            </div>
          </div>
          <% } %>
      </div>
      <%- include('../partials/footer', {currentMenu: 2}); %>
        <!-- Toast -->
        <div class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 11">
          <div id="liveToast" class="toast hide" data-bs-delay="2000" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="toast-header">
              <img src="/images/tsl-symbol/kkrn_icon_kirakira_2.svg" width="30px" class="rounded me-2" alt="tsl-light">
              <strong class="me-auto">投稿を削除しました</strong>
            </div>
            <!-- <div class="toast-body">
                    Hello, world! This is a toast message.
                  </div> -->
          </div>
        </div>
        <script>
          window.onload = (() => {
            let toast = false;
            <% if (/* if toast is defined and true */ locals.deletedToast === true) { %>
              toast = true;
            <% } %>
            if (toast) {
              const toastLiveExample = document.getElementById('liveToast')
              const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
              toastBootstrap.show();
            }
          });
        </script>
  </div>
</body>

</html>