<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../partials/header'); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll max-w-screen">
        <%- include('../partials/posts-tab', {currentMenu: 1}); %>
        <% for (var post of targetPosts) { %>
          <%- include('../partials/posts-list-item', {post: post}); %>
          <% } %>
      </div>
      <%- include('../partials/footer', {currentMenu: 2}); %>
        <!-- Toast -->
        <%- include('../partials/toast', {message: "投稿を削除しました"}); %>
        <script>
          window.onload = (() => {
            let toast = false;
            <% if (/* if toast is defined and true */ locals.deletedToast === true) { %>
              toast = true;
            <% } %>
            if (toast) {
              const toastLiveExample = document.getElementById('liveToast')
              const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
              toastBootstrap.show();
            }
          });
        </script>
  </div>
</body>

</html>