<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/common/head'); %>
  <style>
    h2 {
      font-size: medium;
    }

    ul {
      list-style-type: disc;
    }
  </style>
  <script type="module" src="/javascripts/firebaseAuth.js?ver=20240105052415"></script>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../../partials/common/header'); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll">
        <%- include('../../partials/common/page-title', {title: 'ログイン（新規登録）' }); %>
          <div class="p-1">
            <p>ログインすると、散歩情報を投稿できるようになります。</p>
            <%- include('../../partials/util/icon-button', {label: "Googleでログイン（新規登録）", onClickCode: "loginWithGoogle();", googleIconName: "login"}); %>
            <form action="/users/login" method="post">
              <input type="hidden" id="idToken" name="idToken" />
              <div class="hidden">
                <!-- javascriptでクリックさせる -->
              <%- include('../../partials/util/icon-button', {label: "/loginを呼ぶ。このボタンは非表示", id: "submit", typeSubmit: true, onClickCode: "loginWithGoogle();", googleIconName: "login"}); %>
              </div>
            </form>
            
            <hr />

            <small>
              初回ログイン時は、アカウントの登録手続きに進みます。<br />
              アカウントを登録することにより、以下の内容に同意したとみなされます。
              <ul>
                <li><a href="/others/terms-of-services">利用規約</a></li>
                <li><a href="/others/privacy-policy">プライバシーポリシー</a></li>
                <li><a href="/others/cookie-policy">クッキーポリシー</a></li>
              </ul>
              Googleのアカウント情報は、本サービスの認証のためだけに使用するものであり、<br />
              あなたがお使いの、GメールやGoogleカレンダー、GoogleMapなどのデータを読み書きすることはありません。
            </small>
          </div>
      </div>
      <%- include('../../partials/common/footer', {currentMenu: 5}); %>

        <!-- Toast -->
        <%- include('../../partials/util/toast', {message: "must be updated"}); %>
        <script>
          window.onload = (() => {
            let toast = false;
            <% if (/* if toast is defined and true */ locals.successfulLogoutToast === true) { %>
              toast = true;
              document.getElementById('toastMessage').innerHTML = 'ログアウトに成功しました';
            <% } %>
            if (toast) {
              const toastLiveExample = document.getElementById('liveToast')
              const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
              toastBootstrap.show();
            }
          });
        </script>
  </div>
</body>

</html>