<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/common/head'); %>
  <script type="module" src="/javascripts/firebaseAuth.js"></script>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../../partials/common/header'); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll flex flex-col">
        <%- include('../../partials/common/page-title', {title: 'マイページ' }); %>
          <% if (user === undefined) { %>
            <%- include('../../partials/common/urge-login'); %>
            <% } else { %>
              <div class="p-1">
                <h2>あなたの情報</h2>
                <dl>
                  <dt>ID</dt>
                  <dd>
                    <%- include('../../partials/util/printable-user-id', {id: user.firebaseUserId}) %>
                  </dd>
                </dl>
                <dl>
                  <dt>アイコンとユーザ名</dt>
                  <dd>
                    <%- include('../../partials/util/user-icon-name-s', {iconUrl: user.userIconBase64, userName: user.userName}) %>
                  </dd>
                </dl>
                <dl>
                  <dt>自己紹介</dt>
                  <dd>
                    <%= user.selfIntroduction %>
                  </dd>
                </dl>
                <%- include('../../partials/util/icon-link-button', {label: "ユーザ情報編集", href: "/users/update", googleIconName: "manage_accounts"}); %>
                <%- include('../../partials/util/icon-link-button', {label: "ユーザアイコンの変更", googleIconName: "face", href: "/user/update-user-icon"}) %>
                
                <form action="/users/logout" method="post" onsubmit="return logout();">
                  <%- include('../../partials/util/icon-button', {label: "ログアウト", googleIconName: "logout"}); %>
                </form>
              </div>
              <% } %>
      </div>
      <%- include('../../partials/common/footer', {currentMenu: 5}); %>
        <!-- Toast -->
        <%- include('../../partials/util/toast', {message: "ログインに成功しました"}); %>
        <script>
          window.onload = (() => {
            let toast = false;
            <% if (/* if toast is defined and true */ locals.toast === true) { %>
              toast = true;
            <% } %>
            if (toast) {
              const toastLiveExample = document.getElementById('liveToast')
              const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
              toastBootstrap.show();
            }
          });
        </script>
  </div>
</body>

</html>