<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/common/head'); %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
    integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"
    integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="/javascripts/updateUserIconPage.js?ver=20240106184843"></script>
  <style>
    /* 下記は円形にするなら必須です。 */
    .cropper-view-box,
    .cropper-face {
      border-radius: 50%;
    }
  </style>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../../partials/common/header'); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll">
        <%- include('../../partials/common/page-title', {title: 'ユーザアイコン設定' }); %>
        <p>画面を下にスクロールしていきましょう。</p>
          <div class="pt-1 px-1 pb-10">
            <% const warningList = [
              "後からいつでも変更・削除できます。",
              "公序良俗に反する画像は登録しないこと。",
              "著作権・肖像権に注意すること。",
            ] %>
            <%- include('../../partials/util/warning-accordion', {title: "登録前の注意事項", warningList: warningList}); %>
            <!--<div class="accordion mt-3" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="material-symbols-outlined text-accent">
                      warning
                    </span>
                    <span class="text-accent">登録前の注意事項</span>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse visible" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <ul>
                      <li>後からいつでも変更・削除できます。</li>
                      <li>個人を特定できる情報は書かないこと。</li>
                      <li>公序良俗に反する記載は行わないこと。</li>
                      <li>著作権・肖像権に注意すること。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>-->
            <div class="mt-3">
              <label for="formFile" class="form-label">写真選択</label>
              <input class="form-control" type="file" id="uploadPhoto" name="uploadPhoto" required
                accept=".jpg, .jpeg, .png" />
            </div>
            <p class="mt-1">画像のトリミング</p>
            <div id="cropperTargetDiv" class="w-full" style='height: 200px'>
              <img id="target" src="">
            </div>
            <%- include('../../partials/util/icon-button', {label: "丸く切り取る", id: "cropButton", googleIconName: "content_cut"}); %>
            <!-- <button id="cropButton" class="btn bg-accent text-white" style="background-color: #ff0099;">
              <span class="material-symbols-outlined align-[-6px]">
                content_cut
              </span>
              丸く切り取る
            </button> -->
            <p class="mt-1">実際の見え方</p>
            <div class="flex justify-center">
              <div>
                大きいサイズ
                <img id='preview1' class="rounded-full w-[110px] h-[110px]" width="110" height="110"
                  style="border: 2px solid #ff0099;" src="<%= user.userIconBase64 %>">
              </div>
              <div class="ml-1">
                小さいサイズ
                <img id='preview2' class="rounded-full w-[40px] h-[40px]" width="40" height="40"
                  style="border: 2px solid #ff0099;" src="<%= user.userIconBase64 %>">
              </div>
            </div>
            <%- include('../../partials/util/icon-button', {label: "初期設定に戻す", id: "useDefaultIconButton", googleIconName: "reset_image"}); %>
            <img id="defaultIconImg" src="/images/user-icon/kkrn_icon_user_9.svg" class="hidden" />
            <form action="/users/update-user-icon" method="POST" onSubmit="return confirm('登録してもよろしいですか？')">
              <input id="newUserIconBase64" name="newUserIconBase64" type="text" />
              <%- include('../../partials/util/icon-button', {label: "保存", typeSubmit: true, googleIconName: "person_add"}); %>
            </form>
          </div>
      </div>
      <%- include('../../partials/common/footer', {currentMenu: null}); %>
  </div>
</body>

</html>