<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/head'); %>
  <style>
    h2 {
      font-size: medium;
    }

    ul {
      list-style-type: disc;
    }
  </style>
  <script type="module" src="/javascripts/firebaseAuth.js"></script>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../../partials/header'); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll">
        <%- include('../../partials/page-title', {title: 'ログイン（新規登録）' }); %>
          <div class="p-1">
            <p>ログインすると、散歩情報を投稿できるようになります。</p>
            <form action="/user/login" method="post">
              <button class="mt-3 btn text-white w-full bg-accent" style="background-color:#ff0099;" type="submit">
                <span class="material-symbols-outlined align-[-6px]">
                  login
                </span>
                ログイン（あとで消す）  
              </button>
            </form>
            <button class="mt-3 btn text-white w-full bg-accent" style="background-color:#ff0099;" onclick="loginWithGoogle();">
              <span class="material-symbols-outlined align-[-6px]">
                login
              </span>
              Googleでログイン
            </button>
            <!-- <button class="mt-3 btn text-white w-full bg-accent" style="background-color:#ff0099;" onclick="loginWithTwitter();">
              <span class="material-symbols-outlined align-[-6px]">
                login
              </span>
              X(Twitter)でログイン
            </button> -->
            <form action="/user/login2" method="post">
              <input type="hidden" id="uid" name="uid" />
              <input type="hidden" id="token" name="token" />
              <input type="hidden" id="idToken" name="idToken" />
              <button id="submit" class="mt-3 btn text-white w-full bg-accent" style="background-color:#ff0099;" type="submit">
                <span class="material-symbols-outlined align-[-6px]">
                  login
                </span>
                /login2を呼ぶ。後で非表示にする
              </button>
            </form>
            <a class="w-full btn bg-accent" href="/user/update-user-icon" role="button">ユーザアイコン編集</a>
            <hr />

            <small>
              初回ログイン時は、アカウントの登録手続きに進みます。<br />
              アカウントを登録することにより、以下の内容に同意したとみなされます。
              <ul>
                <li><a href="/others/terms-of-services">利用規約</a></li>
                <li><a href="/others/privacy-policy">プライバシーポリシー</a></li>
                <li><a href="/others/cookie-policy">クッキーポリシー</a></li>
              </ul>
            </small>
          </div>
      </div>
      <%- include('../../partials/footer', {currentMenu: 5}); %>

        <!-- Toast -->
        <%- include('../../partials/toast', {message: "must be updated"}); %>
        <script>
          window.onload = (() => {
            let toast = false;
            <% if (/* if toast is defined and true */ locals.urgeRegisterToast === true) { %>
              toast = true;
              document.getElementById('toastMessage').innerHTML = '新しいユーザです。先に新規登録してください。';
            <% } %>
            <% if (/* if toast is defined and true */ locals.successfulLogoutToast === true) { %>
              toast = true;
              document.getElementById('toastMessage').innerHTML = 'ログアウトに成功しました';
            <% } %>
            if (toast) {
              const toastLiveExample = document.getElementById('liveToast')
              const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
              toastBootstrap.show();
            }
          });
        </script>
  </div>
</body>

</html>