<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/common/head'); %>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../../partials/common/header'); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll">
        <%- include('../../partials/common/page-title', {title: 'ユーザ情報編集' }); %>
        <div class="p-1 pb-10">
          <% const warningList = [
              "後からいつでも変更・削除できます。",
              "個人を特定できる情報は書かないこと。",
              "公序良俗に反する記載は行わないこと。",
              "著作権・肖像権に注意すること。",
            ]; %>
            <%- include('../../partials/util/warning-accordion', {title: "登録前の注意事項", warningList: warningList}); %>

          
            <div class="mt-3">
              <label for="firebaseUserId" class="form-label">ユーザID（固定・変更不可）</label>
              <div><%- include('../../partials/util/printable-user-id', {id: firebaseUserId}) %></div>
            </div>
            <div class="mt-3">
              <label for="userName" class="form-label">ユーザ名（必須）</label>
              <input type="text" id="userName" name="userName" value="<%= user.userName %>" required maxlength="20" class="form-control" />
            </div>
            <div class="mt-3">
              <label for="selfIntroTextarea" class="form-label">自己紹介</label>
              <textarea name="comment" required class="form-control" id="selfIntro" name="selfIntro" maxlength="200"
                rows="3">
                <%= user.selfIntroduction %>
              </textarea>
            </div>
            <%- include('../../partials/util/icon-button', {label: "決定", onClickCode: "return confirm('変更してもよろしいですか？');", googleIconName: "person_check"}); %>
          
            <script>
              function updateUser(){
                if (!(confirm('本当に変更して良いですか？'))) {
                  return;
                }

                fetch('/users/<%= post.id %>', {
                  method: 'DELETE',
                }).then((response) => {
                  window.location = '/new-list?deletedToast=true';
                }).catch((error) => {
                  console.error(error);
                  window.location = '/500';
                })
              }
            </script>
        </div>
      </div>
      <%- include('../../partials/common/footer', {currentMenu: null}); %>
  </div>
</body>

</html>