<div id="content">
  <div id="bodyContent" style="display:flex; justify-content:space-between;">
    <img src='<%= post.imageUrl %>' width='50%' />
    <div style="width:50%; padding:10px;">
      <div style="display:flex;">
        <img width="40px" height="40px" src="<%= post.user.iconUrl %>"
          style="border: 2px solid #ff0099; border-radius:50%" />
        <h4 style="font-weight:bold; font-family:Kaisai Decol; color:#ff0099; padding-left:10px;">
          <%= post.user.userName %>
        </h4>
      </div>
      <p style="font-size:small;">
        <%= post.insertDate.toLocaleString("ja-JP") %>
      </p>
    </div>
  </div>
  <p class="w-full break-words">
    <%= post.description %>
  </p>
  <div>
    <p style="margin-top:10px; text-align:center; font-size:small;">コメント</p>
    <% for (const comment of post.postComments) { %>
      <hr />
      <div class="w-full px-4 py-2">
        <div style="display:flex; justify-content:space-between;">
          <div style="display:flex;">
            <img width="40px" height="40px" src="<%= comment.user.iconUrl %>"
              style="border: 2px solid #ff0099; border-radius:50%" />
            <span style="font-weight:bold; font-family:Kaisai Decol; color:#ff0099; padding-left:10px;">
              <%= comment.user.userName %>
            </span>
          </div>
          <span style="font-size: small; margin-left:20px;">
            <%= comment.commentDate.toLocaleString("ja-JP") %>
          </span>
        </div>
        <p class="w-full break-words">
          <%= comment.comment %>
        </p>
      </div>
    <% } %>
  </div>
  <hr />
  <%- include('./add-comment-section'); %>
</div>