<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="flex flex-col max-h-screen">
    <%- include('../partials/header'); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll p-2">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" style="background-color: #ff0099 !important;" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                <span class="material-symbols-outlined text-white">
                  warning
                </span>
                <span class="text-white">投稿前の注意事項</span>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse visible" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>個人を特定できる情報は書かないこと。</li>
                  <li>公序良俗に反する投稿は行わないこと。</li>
                  <li>著作権・肖像権に注意すること。</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <form>
          <div class="mt-3">
            <label class="form-label">写真選択</label>
            <input type="file" id="uploadPhoto" accept=".jpg, .jpeg, .png" />
            <div id="printPhoto" class="border rounded h-40 flex justify-center items-center">
              <img src="/images/emptyPhoto.png" class="h-40">
            </div>
            <script>
              let uploadPhotoInput = document.getElementById('uploadPhoto');
              uploadPhotoInput.addEventListener('change', function (e) {
                let file = e.srcElement.files[0];

                let fr = new FileReader();
                fr.addEventListener('load', function () {
                  let url = fr.result;

                  // Imageオブジェクトをつくり
                  let img = new Image();
                  // srcにurlを指定する
                  img.src = url;
                  // そのままだとでかすぎるのでサイズ調整して
                  //img.height = 200;
                  img.classList.add('h-40');

                  // 追加する
                  let printPhotoDiv = document.getElementById('printPhoto');
                  printPhotoDiv.innerHTML = '';
                  printPhotoDiv.appendChild(img);
                });
                fr.readAsDataURL(file);
              });
            </script>
          </div>
          <div class="mt-3">
            <label for="exampleFormControlTextarea1" class="form-label">コメント</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" maxlength="100" rows="3"
              placeholder="ここは私のお気に入りの場所です！"></textarea>
          </div>
          <div class="mt-3">
            <label class="form-label">カテゴリ</label>
            <select class="form-select" aria-label="Default select example">
              <% for (var category of categories) { %>
                <option value="<%= category.getId() %>">
                  <%= category.getEmoji() %>　<%= category.getLabel() %>
                </option>
                <% } %>
            </select>
          </div>
          <br />
          <input class="mt-3 btn btn-primary border-accent bg-accent w-full" type="submit" value="投稿">
        </form>
      </div>
      <%- include('../partials/footer', {currentMenu: 4}); %>
  </div>
</body>

</html>