<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="flex flex-col max-h-screen">
    <%- include('../partials/header'); %>
    <!-- Main Body -->
    <div class="grow overflow-y-scroll">
      <% for (var post of posts) { %>
        <hr />
        <a href="./post/<%= post.id %>">
        <div class="p-1 w-full flex items-center">
          <img width="60%" height="80px" src="<%= post.imageUrl %>" style="border: 1px solid; " />
          <div>
            <img class="ml-1" width="30px" height="30px" src="<%= post.user.iconUrl %>" style="border: 2px solid #ff0099; border-radius:50%;" />
            <span class="font-bold pl-2" style="font-family:Kaisai Decol; color:#ff0099;"><%= post.user.userName %></span>
            <br />
            <span><%- post.title %></span>
            <br />
            <span class="text-sm"><%= post.insertDate.toLocaleString("ja-JP") %></span>
          </div>
        </div>
        </a>
      <% } %>
    </div>
    <%- include('../partials/footer', {currentMenu: 2}); %>
    </div>
  </body>
</html>
