<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>

  <script src="/javascripts/doNotGitPush.js"></script>
  <!-- prettier-ignore -->
  <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
      ({ key: GMAP_KEY, v: "weekly" });</script>
  <script src="/javascripts/tslDef.js"></script>
  <script>
    var targetPost = JSON.parse('<%- JSON.stringify(post) %>');
  </script>
  <script src="/javascripts/tslGMapUtil.js"></script>
  <script src="/javascripts/renderPostOnGMap.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
  <div class="flex flex-col min-h-screen max-h-screen">
    <%- include('../partials/header', {showBack2: showBack}); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll">
        <hr />
        <img width="100%" height="80px" src="<%= post.imageUrl %>" style="border: 1px solid; " />
        <div class="p-2">
          <div style="display:flex; justify-content:space-between;">
            <div style="display:flex;">
              <img width="40px" height="40px" src="<%= post.user.iconUrl %>"
                style="border: 2px solid #ff0099; border-radius:50%" />
              <span style="font-weight:bold; font-family:Kaisai Decol; color:#ff0099; padding-left:10px;">
                <%= post.user.userName %>
              </span>
            </div>
            <span style="font-size: small; margin-left:20px;">
              <%= post.insertDate.toLocaleString("ja-JP") %>
            </span>
          </div>
          <p>
            <%= post.title %>
          </p>
        </div>
        <!-- Main Body -->
        <div class="flex justify-center items-center">
          <div id="map" class="w-[90%] h-[200px]"></div>
        </div>
        <% for (const comment of post.postComments) { %>
          <hr />
          <div class="w-full px-4 py-2">
            <div style="display:flex; justify-content:space-between;">
              <div style="display:flex;">
                <img width="40px" height="40px" src="<%= comment.user.iconUrl %>"
                  style="border: 2px solid #ff0099; border-radius:50%" />
                <span style="font-weight:bold; font-family:Kaisai Decol; color:#ff0099; padding-left:10px;">
                  <%= comment.user.userName %>
                </span>
              </div>
              <span style="font-size: small; margin-left:20px;">
                <%= comment.commentDate.toLocaleString("ja-JP") %>
              </span>
            </div>
            <p class="w-full break-words">
              <%= comment.comment %>
            </p>
          </div>
          <% } %>
      </div>
      <%- include('../partials/footer', {currentMenu: 2}); %>
  </div>
</body>

</html>