<div id="content">
  <div id="bodyContent" class="flex justify-between">
    <img src='<%= post.photoUrl %>' width='50%' />
    <div class="w-1/2 p-2">
      <%- include('../util/user-icon-name-s', {imageSrc: post.user.userIconBase64, userName: post.user.userName}) %>
      <p class="text-sm">
        <%= post.insertedAt.toLocaleString("ja-JP") %>
      </p>
    </div>
  </div>
  <div class="p-2">
    <p class="w-full break-words">
      <%= post.description %>
    </p>
    <%- include('../util/comments-list', {userId: user?.firebaseUserId}); %>
    <hr />
    <%- include('../util/add-comment-section', {postId: post.firestoreDocId, commentsLength: post.postComments.length}); %>
  </div>
</div>